asttokens==2.4.1
attrs==23.1.0
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.11.17
cffi==1.16.0
colorama==0.4.6
comm==0.2.0
debugpy==1.8.0
decorator==5.1.1
executing==2.0.1
greenlet==3.0.1
h11==0.14.0
idna==3.6
ipykernel==6.27.1
ipython==8.18.1
jedi==0.19.1
jupyter_client==8.6.0
jupyter_core==5.5.0
lxml==4.9.3
matplotlib-inline==0.1.6
nest-asyncio==1.5.8
nested-lookup==0.2.25
numpy==1.26.2
outcome==1.3.0.post0
packaging==23.2
pandas==2.1.3
parso==0.8.3
platformdirs==4.0.0
playwright==1.40.0
prompt-toolkit==3.0.41